body {
	
	font-family: sans-serif;
	
	margin: 0 0 40px;
	padding: 20px;
}

h1,h2,h3,.h1,.h2,.h3 {
	margin:0;
	padding:0;
	font-size:1em;
	display:block;
	font-weight: bold;
}
.h1 {
	font-size:2em;
}
.h2 {
	font-size:1.7em;
}
.h3 {
	font-size:1.4em;
}


.breadcrumb {
	font-size:1em;
}
.breadcrumb a {
	color: inherit;
}



#mp-form {
	/*position:absolute;
	top:20px;
	left: 20px;
	bottom:20px;
	border: 1px solid silver;
	overflow: scroll;
	max-height: 90%; */
	padding: 5px 5px 20px;
	margin: 1em;
	display:inline-block;
}


.form-section {
	padding: 0.2em 1em;
	position: relative;
	    clear: both;
}
#mp-form .form-section + .form-section {
	border-top: 1px solid rgba(0,0,0,0.1);
}



.field {
	display: block;
	margin: 0.2em;
	float:left;
	clear:both;
		position: relative;
	line-height: 1.5em;
	vertical-align:middle; 
}
	.field-title { 
		font-size:0.75em; 
		
	display: block; 
	float:left; 
	clear:both; 
	width: 140px; 
	text-align:right; 
	vertical-align:middle; 
		margin-right: 0.4em;
	}
	.field-doclink { 
		font-size: 0.6em; 
		position: absolute;
		left:0;
		width: 140px; 
		text-align:right; 
		top: 1.1em;
		text-decoration: none;
		display: none; 
	}
	.field-input { z-index: 5; }
	
	.field-doclink:hover,
	.field-title:hover + .field-doclink {
		display: block;
	}


.form-section-title {
	
	font-size:1em;
	font-weight:bold;
	
	margin:0.7em 0 0.6em -3px;
	
	display: block; 
	float:left; 
	clear:both; 
	min-width: 143px; 
	text-align:right; 
	vertical-align:top; 
	
	position:relative;
	right:-0.4em;
	
}


.a-doc {
	
	
}

input {
	transition: all ease 200ms;
	transition-delay: 5ms;
}

input[disabled] {
}
input[type="text"] {
	border: 1px solid black;
}
input[type="text"][disabled] {
	border-color: rgba(0,0,0,0.2);
	color: #444;
	background: rgba(0,0,0,0.12);
}

input[type="text"] {
	width: 4em;
	min-width: 12em;
	display: inline-block;
	padding: 0.1em 0.5em;
	height: 1.5em;
	font-family: monospace;
}

input[type="text"][name="tid"] { min-width: 9em; }
input[type="text"][name="cid"] { min-width: 24em; }

input[disabled].value-updated,
input.value-updated {
	border-color: #1accff;
	box-shadow: 0 0 15px -4px blue;
	transition: all ease 0ms;
	transition-delay: 0ms;
	background: white;
	color: black;
}
input[disabled].value-updated {
	background: rgba(0,0,0,0.07);
}

.form-actions {
	position:fixed;
	bottom:0;left:0;right:0;
	background:#ddd;
	padding: 10px;
}
.form-actions-secondary {
	float: right;
}
.form-actions-secondary input {
}



body {
	transition: all ease 200ms;
	
}
body.loading {
	opacity:0;
	cursor: wait;
}
body.form-submitting {
	opacity:0.4;
	cursor: wait;
}

.form-section-mainBLOCK,
.form-section-hitBLOCK,
.form-actions-primary {
	/* display: inline-block;
	white-space: nowrap; */
	position:absolute; 
	left: 1em;
}

.form-section-main,
.form-section-hit,
body.ga-loaded .form-section-mainBLOCK,
.form-actions-a,
.form-actions-b,
body.ga-loaded .form-actions-a {
	pointer-events: none;
	opacity:0;
	transition: all ease 200ms;
	visibility:hidden;
	display:none;
}

.form-section-main,
body.ga-loaded .form-section-hit,
.form-actions-a,
body.ga-loaded .form-actions-b {
	opacity:1;
	pointer-events: all;
	visibility:visible;
	display:block;
}


.form-section-hit > .field {
	z-index: 5;
}
body .form-section.form-section-hit {
}


.form-section-hit .form-section {
	display:none;    
	float: left;
	/*  */
	margin: -0.1em 0 80px -40px;
	position: absolute; top: 0;
	    left: 180px;
}
.form-section-hit .form-section input {
	min-width: 40em;
}

 #btn-fire {
	display:none;
}
body[data-hittype] #btn-fire {
	display:block;
}
body[data-hittype="pageview"] .form-section-hit-pageview,
body[data-hittype="event"] .form-section-hit-event,
body[data-hittype="social"] .form-section-hit-social,
body[data-hittype="timing"] .form-section-hit-timing,
body[data-hittype="exception"] .form-section-hit-exception {
	display:block;
}

